<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh cong</title>

    <style>
        h1{
            color: rgb(2, 44, 158);
            text-align: center;
        }
        button{
            text-align: center;
            left: 50%;
            width: 60px;
            height: 30px;
            color: yellow;
            background-color: red;
            position: absolute;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    </style>
</head>
<body>
    <h1>Đăng kí thành công</h1>
    
    <a href="/"><button>Trở về</button></a>
</body>
</html>